<h1>Statuses#index</h1>
<p>Find me in app/views/statuses/index.html.erb</p>
<% if @status.errors.any? %>
  <%= @status.errors.count %>件のエラーが発生しました
  <% @status.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>
<%= form_with model:@status, url:'/statuses', local:true do |f| %>
  <h4>ステータス</h4>
  <%= f.text_field :name %>
  <%= f.submit '登録' %>
<% end %>
<p>ステータス一覧</p>
<% @statuses.each do |status| %>
  <%= status.name %>
<% end %>

